<!--
 * <p>Description: </p>
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <link rel="stylesheet" href="../static/css/github-markdown.css" th:href="@{static/css/github-markdown.css}"/>
    <title>Index Html Page</title>
</head>
<body>
Index Html Page!
<article class="markdown-body">
    <h1>Unicorns</h1>
    <p>All the things</p>
</article>
<button onclick="bookNew()">bookNew</button>


<script src="../static/layui-v2.3.0/layui.all.js" th:src="@{static/layui-v2.3.0/layui.all.js}"></script>
<script src="../static/js/index.js" th:src="@{static/js/index.js}"></script>
</body>
</html>
